<div>
    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="task_important">
        {{ form_widget(field, {'attr': {'class': 'mdl-switch__input'}}) }}
        {{ form_label(field, null, {'label_attr': {'class': 'mdl-switch__label'}}) }}
    </label>
</div>
