<div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label">
        {{ form_widget(field, {'attr': {'class': 'mdl-textfield__input'}}) }}
        {{ form_label(field, null, {'label_attr': {'class': 'mdl-textfield__label'}}) }}
    </div>
</div>
