{% block grid %}

    {% if units is empty %}
        {% trans %}<h4>no_units</h4>{% endtrans %}
    {% else %}

        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">{% trans %}name{% endtrans %}</th>
                </tr>
            </thead>

            <tbody>
            {% for unit in units %}
                <tr data-uri="{{ path('editUnit', {'id': unit.id}) }}" class="pointertr">
                    <td class="mdl-data-table__cell--non-numeric">{{ unit.name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% endif %}
{% endblock %}
