<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/taskmanager.css" />

        <meta charset="UTF-8" />
        <title>Login</title>
        <link rel="stylesheet" href="/css/semantic.min.css" type="text/css">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    {{ error }}
        <form action="{{ path('login') }}" method="post">
            <div class="ui inverted segment">
                <div class="ui inverted form">
                    <div class="two fields">
                        <div class="field">
                            <label>Username</label>
                            <input placeholder="Username" value="{{ createdUser.username }}" type="text" id="username" name="_username">
                        </div>
                        <div class="field">
                            <label>Password</label>
                            <input placeholder="hunter" value="moi" type="password" id="password" name="_password">
                        </div>
                    </div>

                    <button type="submit" class="ui submit button">Submit</button>
                </div>
            </div>
        </form>

        <script src="/js/jquery.min.js"></script>
        <script src="/js/semantic.min.js"></script>
    </body>
</html>
