<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/taskmanager.css" />

    <meta charset="UTF-8" />
    <title>Login</title>
    <link rel="stylesheet" href="/css/semantic.min.css" type="text/css">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <style>
        body {
            background-color: #1B1C1D;
        }
    </style>
</head>
<body>
<div id="tfaApp"></div>

<script src="/js/jquery.min.js"></script>
<script src="/js/semantic.min.js"></script>
<script src="/js/tfaApp.js"></script>
</body>
</html>
